html{
    height: 100%;
}

.otysselect{
    position: relative;
    display: inline-block;
    width: 250px;
    user-select: none;
}
.otysselect *,
.otysselect *:after,
.otysselect *:before{
    box-sizing: border-box;
    transition: color .1s ease-in-out, background .1s ease-in-out, transform .1s ease-in-out;
    outline: 0;
}
.otysselect select:not([data-os-nativemobile="true"]){
    display: none;
}
.otysselect select[data-os-nativemobile="true"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* selects */
.otysselect .os-selected{
    height: 42px; /* height of otysselect */
    width: 100%;
    border: 1px solid #efefef;
    background: #FFF;
    position: relative;
    overflow: hidden;
}
.otysselect .os-value{
    position: relative;
    width: 100%;
    padding: 0px 10px;
    white-space: nowrap;
    display: flex;
    height: 100%;
    align-items: center;
}
.otysselect .os-label{
    position: relative;
    padding: 0 25px 0 5px;
    margin: 0 5px 0 0;
    background: #efefef;
    line-height: 26px; /* height of the value labels */
    display: inline-block;
}
.otysselect .os-placeholder{
    color: #767676;
}
.otysselect .os-label + .os-placeholder{
    display: none;
}

/* labels remove */
.otysselect .os-label .os-remove{
    text-align: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff7777;
} .otysselect .os-label .os-remove:hover{
    background: #f34545;
} 
.otysselect .os-value .os-remove:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    width: 10px;
    height: 2px;
    background: #FFF;
} .otysselect .os-value .os-remove:hover:after{
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
}
.otysselect .os-value .os-remove:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    width: 10px;
    height: 2px;
    background: #FFF;
} .otysselect .os-value .os-remove:hover:before{
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
}

/* collapse */
.otysselect .os-collapse{
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    color: #000;
    width: 100%;
    display: none;
    z-index: 99;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
} .otysselect.open .os-collapse{
    display: block;
} .otysselect.open.top .os-collapse{
    top: initial;
    bottom: 100%;
}

/* search element */
.otysselect .os-search{
    padding: 5px;
    background:#fff;
}
.otysselect .os-search input{
    width: 100%;
    line-height: 30px;
    border: 1px solid #efefef;
    padding: 0 10px;
}

/* options */
.otysselect .os-option{
    padding: 10px 15px;
    cursor: pointer;
} 
.otysselect .os-option[disabled]{
    color: #767676;
    pointer-events: none;
}.otysselect .os-option:not([disabled]):hover{
    background: #dedede;
} .otysselect .os-option[selected]{
    background: #5b97f5;
    color: #FFF;
} .otysselect .os-option[selected]:hover{
    background: #4d8df3;
}

/* optgroups */
.otysselect .os-optgroup .os-optgrouplabel{
    padding: 10px 15px;
    font-weight: 600;
}
.otysselect .os-optgroup .os-option{
    padding: 10px 25px;
}
