.otysselect{
    position: relative;
    display: inline-block;
    width: 250px;
}
    .otysselect *{
        box-sizing: border-box;
    }

    .otysselect select{
        display: none;
    }

    .otysselect .os-selected{
        height: 40px;
        width: 100%;
        border: 1px solid #dadada;
        position: relative;
        overflow: hidden;
    }
        .otysselect .os-value{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 15px;
            white-space: nowrap;
        }
            .otysselect .os-label{
                position: relative;
                padding: 0 30px 0 0;
            }

            .otysselect .os-label .os-remove{
                text-align: center;
                cursor: pointer;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: red;
            }
            .otysselect .os-value .os-remove:after{
                
            }

    .otysselect .os-collapse{
        position: absolute;
        left: 0;
        top: 100%;
        background: #000;
        color: #FFF;
        width: 100%;
        display: none;
        z-index: 99;
    } .otysselect.open .os-collapse{
        display: block;
    }
        .otysselect .os-search input{
            width: 100%;
        }

        .otysselect .os-option{
            padding: 0 15px;
            cursor: pointer;
        } .otysselect .os-option:hover{
            background: #333;
        } .otysselect .os-option[selected]{
            background: #dedede;
        }